//
// Layout
//

// Header
.header 
  height: 60px
  background: $primary_dark
  a.is-outline
    background: transparent

.logo
  color: $white_seventy
  font-size: $size-3
  text-transform: uppercase
  transition: all 0.3s ease
  text-decoration: none
  border: none !important
  span
    font-weight: 800
  .thin
    font-weight: 300
  &:hover
    color: #fff
  &.logo-footer
    font-size: $size-5
    margin-bottom: 0.5em
    opacity: 0.6
    display: block
    &:hover
      opacity: 1

.header-menu a
  color: $white_seventy
  transition: all 0.3s ease
  &:hover
    color: #fff
  &.active
    color: pink

.subnav
  border-bottom: 1px solid $border
  background: #fff
  padding: 8px 20px
  .fa
    position: relative
    top: 3px

.main-content
  margin: 2em auto 4em
  min-height: 300px

.wrapper
  background: $grey-lighter

.footer
  padding: 40px 20px
  background: #fff
  border-top: 1px solid $border